:root {
  --primary-text-color: #757575;
  --head-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --primary-background-color: #f5f5f5;
  --logo-black-color: #000;
  --border-color: #eeeeee;
}
h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-one {
  padding-top: 94px;
}

/** основной контейнер **/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: center;
}
.body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
}

/* Логотип верхний */
.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 93px;
}

.logo-black {
  color: var(--logo-black-color);
}

/* убираем точки списков */
.list {
  list-style: none;
  padding: 0;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
}

/* Header */

.nav-flex {
  display: flex;
  align-items: center;
}
.header {
  padding: 24px 15px 25px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--primary-white-color);
}
.header-nav {
  display: flex;
}
.header-nav-link {
  color: var(--head-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-nav-item {
  margin-right: 50px;
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-contakt {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-item-mail {
  margin-right: 50px;
}
.header-contakt-mail,
.header-contakt-tel {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-nav-link:hover,
.header-contakt-mail:hover,
.header-contakt-tel:hover,
.header-nav-link:focus,
.header-contakt-mail:focus,
.header-contakt-tel:focus {
  color: var(--accent-color);
}

/* Раскраска секций (первая секция или единственная на листе - то белая) */
.section-one {
  background-color: #ffffff;
}
.section:nth-child(2n + 1) {
  background-color: #ffffff;
}
.section:nth-child(2n) {
  background-color: #f5f5f5;
}

.section:only-child {
  background-color: #ffffff;
}

/* Герой */
.hero {
  background-color: var(--hero-background-color);
  color: var(--primary-white-color);
  padding-top: 200px;
  padding-bottom: 30px;
  text-align: center;
}

/* Кнопка героя*/
.hero-button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  display: block;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 30px auto 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

/* Особенности */

.list-sec {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
/* Заголовки */
.list-header {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: left;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  width: 270px;
}
/* .list-head {
  margin-right: 30px;
} */

/* Подписи под заголовками */
.list-text {
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  letter-spacing: 0.03em;
  width: 270px;
}

/* Деятельность */
.activity-header {
  padding-bottom: 50px;
}
.activity-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

/*-- Team -- */

.team-item {
  width: 270px;
  background-color: var(--primary-white-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
  box-sizing: content-box;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.team-item-figcaption {
  width: 270px;
}
.team-header {
  padding-bottom: 50px;
}

.team-header,
.activity-header {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-item-header {
  color: var(--head-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 10px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-item-text {
  color: var(--portfolio-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  padding-bottom: 30px;
}
.team-item-figure {
  margin: 0;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
}
/*-- Футер -- */
.footer {
  background-color: var(--hero-background-color);
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  padding-left: 215px;
  padding-right: 215px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-header {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-bottom: 20px;
  margin-right: 93px;
}
.logo-white {
  color: var(--primary-white-color);
}

.footer-adress {
  margin-top: 20px;
  margin-bottom: 9px;
}
.address-list-item {
  color: var(--primary-white-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.address-list-mail {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}
.footer-mail {
  margin-bottom: 9px;
}
.address-list-tel {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.address-list-item:hover,
.address-list-mail:hover,
.address-list-tel:hover,
.address-list-item:focus,
.address-list-mail:focus,
.address-list-tel:focus {
  color: var(--accent-color);
}
/*-----------------------------------------*/
/*-- +++++++++++++ПОРТФОЛИО+++++++++++ -- */

.radio {
  background-color: var(--button-background-color);
  color: var(--head-text-color);
  border: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  font-size: 16px;
  cursor: pointer;
}
.radio:hover,
.radio:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.radiobutton {
  display: flex;
  gap: 8px;
  justify-content: center;
}
.portfolio-list-title {
  color: var(--head-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}
.portfolio-list-text {
  color: var(--portfolio-text-color);
  font-size: 16px;
  line-height: 1.87;
  text-align: left;
  letter-spacing: 0.03em;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 50px;
}
.portfolio-item {
  display: block;
}

.figure {
  width: 370px;
  background-color: var(--primary-white-color);
  margin: 0;
  box-sizing: content-box;
}

.figure-caption {
  border: 1px solid var(--border-color);
  border-top: transparent;
  padding: 20px 24px;
}

.figure > img {
  display: block;
}
